extends root

block title
  AutoWorms - Home

block jsFoot
  if debug
    script(type='text/javascript', src='scripts/vendor/animationFrame.js')
    script(type='text/javascript', src='scripts/vendor/angular.js')
    script(type='text/javascript', src='scripts/vendor/utils/log4javascript.js')
    script(type='text/javascript', src='scripts/app.js')
    script(type='text/javascript', src='scripts/vendor/utils/utils.js')
    script(type='text/javascript', src='scripts/vendor/utils/services/logger.js')
    script(type='text/javascript', src='scripts/vendor/hex/hex.js')
    script(type='text/javascript', src='scripts/factories/factories.js')
    script(type='text/javascript', src='scripts/factories/playfield.js')
    script(type='text/javascript', src='scripts/factories/maps/maps.js')
    script(type='text/javascript', src='scripts/factories/maps/hexmap.js')
    script(type='text/javascript', src='scripts/services/services.js')
    script(type='text/javascript', src='scripts/services/gameTimer.js')
    script(type='text/javascript', src='scripts/controllers/game.js')
  else
    script(type='text/javascript', src='scripts/application.js')

