extends base

block title
  title Autoworms - Home

block header
  #header
    h1 Autoworms

block bodyContent
  #content(ng-app='autoworms')
    .index(ng-controller='game')
      canvas(id="wormsCanvas", width="800", height="600", style="width:800px;height:600px")

block footer
  // pass
